

<p-panel [toggleable]="true" header="Update Profile">
    <ng-template pTemplate="header">
        <div class="flex align-items-center gap-2 mr-3">
            <i class="pi pi-user-edit text-primary text-3xl"></i>
        </div>
    </ng-template>
    <ng-template pTemplate="content">
      <div class="grid formgrid">
        <!-- First Row: Profile Id, Login Id, and Password -->
        <div class="col-12 sm:col-4 py-2">
          <label for="profileId" class="w-full sm:w-auto">Profile Id</label>
          <input [disabled]="true" pInputText id="profileId" placeholder="Enter Profile Id" class="w-full mt-2" [(ngModel)]="profileObject.sno" autocomplete="off" />
        </div>
        <div class="col-12 sm:col-4 py-2">
          <label for="loginId" class="w-full sm:w-auto">Login Id</label>
          <input pInputText id="loginId" placeholder="Enter Login Id" class="w-full mt-2" [(ngModel)]="profileObject.loginId" autocomplete="off" />
        </div>
        <div class="col-12 sm:col-4 py-2">
          <label for="contactPersonName" class="w-full sm:w-auto">Contact Name</label>
          <input pInputText id="contactPersonName" placeholder="Enter Contact Name" class="w-full mt-2" [(ngModel)]="profileObject.contactPersonName" autocomplete="off" />
        </div>
      </div>
  
      <!-- Second Row: More fields -->
      <div class="grid formgrid mt-3">
        <div class="col-12 sm:col-4 py-2">
          <label for="mobileNo" class="w-full sm:w-auto">Mobile No</label>
          <input pInputText id="mobileNo" placeholder="Confirm Mobile No" class="w-full mt-2" [(ngModel)]="profileObject.mobileNo" autocomplete="off" />
        </div>
        <div class="col-12 sm:col-4 py-2">
          <label for="email" class="w-full sm:w-auto">Email</label>
          <input pInputText id="email" placeholder="Enter Email" class="w-full mt-2" [(ngModel)]="profileObject.email" autocomplete="off" />
        </div>
        <div class="col-12 sm:col-4 py-2">
          <label for="orgName" class="w-full sm:w-auto">Org. Name</label>
          <input pInputText id="orgName" placeholder="Enter Org. Name" class="w-full mt-2" [(ngModel)]="profileObject.orgName" autocomplete="off" />
        </div>
      </div>
    </ng-template>

    <ng-template pTemplate="footer">
        <div class="flex flex-wrap align-items-center justify-content-between gap-3">
            <div class="flex align-items-center gap-2">
                <!-- <p-button icon="pi pi-user" rounded="true" text="true" />
                <p-button icon="pi pi-bookmark" severity="secondary" rounded="true" text="true" /> -->
            </div>
            <p-button icon="pi pi-user-edit" [outlined]="true" [loading]="isLoading" (onClick)="updateProfile()" label="Update" />

        </div>
    </ng-template>
</p-panel>
  