<app-generic-table [data]="devices" [columns]="columns" [rows]="10" [header]="'Sim Providers'" [isDataLoading]="isLoading" [actions]="actions"
   [exportFilename]="'Device'" [globalFilterFields]="['imei','iccid','sno','user.name']" (edit)="onEditDevice($event)" (delete)="onDeleteDevice($event)" (deleteFitment)="onDeleteFitment($event)" [selectionMode]="'none'"
   (sampleBulkUpload)="exportSampleBulkUpload($event)" (selectionChange)="onSelectionChange($event)" (new)="openNew($event)" (bulkUpload)="bulkUploadDevice($event)"
   (transferInventory)="onTransferInventory($event)" (sendCommand)="onSendCommand($event)" (activate)="onActivate($event)" (fitment)="onFitment($event)" (emitOverlayAction)="handleOverlayAction($event)" />


<app-generic-dialog [customSaveLabel]="customSaveLabel" [stepFormFields]="stepFormFields" [disableStepperNextBtn]="disableStepperNextBtn"
   [isStepForm]="accesStepForm" [isValidated]="isValidated" [validationState]="validationState" [visible]="deviceDialog"
    [header]="'Device'" [width]="'600px'" [modal]="true" [isEditing]="isEditing"
    [styleClass]="''" [fields]="fields" [data]="device" (onHide)="onHideDialog($event)"
    (onSave)="onSaveDevice($event)" (onInputTextChange)="onInputTextChange($event)"  [tableColumns]="transferDeviceColumns" [tableData]="inStockDevices" [selectedTableData]="inStockDevicesSelectedToTransfer"
    (stepperDropDownChange)="stepperDropdwonChange($event)" (stepperInputTextChange)="stepperInputTextChange($event)" (selectionChange)="onDialogTableSelectionChange($event)" />