<div class="flex align-items-center min-h-screen justify-content-center">
    <div class="surface-card p-4 shadow-2 border-round sm:w-10 md:w-8 lg:w-8 xl:w-5">
        <div class="text-center mb-5">
            <span class="inline-flex align-items-center gap-1 px-2 py-2">
                <img src="assets/images/grl_logo.png" alt="logo" height="80" width="80"     />
                <span class="font-medium text-xl font-semibold">VAHAN<span class="text-primary"> SATHI</span></span>
            </span>
        </div>

        <div>
            <p-stepper [linear]="true">
                <p-stepperPanel header="Mobile No">
                    <ng-template pTemplate="content" let-nextCallback="nextCallback">
                        <div class="flex flex-column gap-2 mx-auto" style="min-height: 8rem; max-width: 20rem">
                            <div class="text-center mt-3 mb-3 text-xl font-semibold">Enter your registered mobile no</div>
                            <div class="field p-fluid">
                                <p-inputNumber [(ngModel)]="mobileNo" mode="decimal" inputId="withoutgrouping" [useGrouping]="false" />
                               
                            </div>
                        </div>
                        <div class="flex pt-4 justify-content-end">
                            <p-button [disabled]="!mobileNo" (onClick)="nextStep(nextCallback,'otp')" label="Next" icon="pi pi-arrow-right" iconPos="right" />
                        </div>
                    </ng-template>
                </p-stepperPanel>
                <p-stepperPanel header="Authenticate">
                    <ng-template pTemplate="content" let-prevCallback="prevCallback" let-nextCallback="nextCallback" let-index="index">
                        <div class="flex flex-column gap-2 mx-auto" style="min-height: 8rem; max-width: 20rem">
                            <div class=" text-center font-bold text-xl mb-2">Authenticate Your Account</div>
                            <p class=" text-center text-color-secondary block mb-5">Please enter the code sent to your phone.</p>
                            <div class="field p-fluid">
                                <p-inputOtp [(ngModel)]="otp" [length]="6" style="gap: 0" [integerOnly]="true">
                                    <ng-template pTemplate="input" let-token let-events="events" let-index="index">
                                        <input 
                                            pInputText
                                            type="text" 
                                            [maxLength]="1" 
                                            (input)="events.input($event)" 
                                            (keydown)="events.keydown($event)"
                                            (paste)="events.paste($event)"
                                            [attr.value]="token" 
                                            class="custom-otp-input" />
                                        <div *ngIf="index === 3" class="px-3">
                                            <i class="pi pi-minus"></i>
                                        </div>
                                    </ng-template>
                                </p-inputOtp>
                            </div>
                        </div>
                        <div class="flex pt-4 justify-content-between">
                            <p-button (onClick)="resendOtp()" [disabled]="!isResendEnabled" [label]="'Resend Code in ' + remainingTime + ' seconds'" [link]="true" class="p-0"/>
                            <p-button [disabled]="!otp" label="Submit Code" icon="pi pi-arrow-right"  iconPos="right" (onClick)="nextStep(nextCallback,'verify-otp')" />
                        </div>
                    </ng-template>
                </p-stepperPanel>
                <p-stepperPanel header="New Password">
                    <ng-template pTemplate="content" let-nextCallback="nextCallback" let-index="index">
                        <div class="flex flex-column gap-2 mx-auto" style="min-height: 8rem; max-width: 20rem">
                            <div class="text-center mt-3 mb-3 text-xl font-semibold">Password</div>
                            <div class="field p-fluid">
                                <p-iconField iconPosition="right">
                                    <input id="Password" placeholder="Enter Password" class="w-full mt-2" required [(ngModel)]="resetPasswordObj.newPassword"
                                        [type]="isPasswordToggled ? 'text' : 'password'" pInputText (copy)="disableEvent($event)"
                                        (paste)="disableEvent($event)" (cut)="disableEvent($event)">
                                    <p-inputIcon (click)="togglePassword()"
                                        [styleClass]="isPasswordToggled ? 'pi pi-eye-slash cursor-pointer' : 'pi pi-eye cursor-pointer'" />
                                </p-iconField>
                                <p-iconField iconPosition="right">
                                    <input id="retype-Password" placeholder="Re-type Password" class="w-full mt-2" required [(ngModel)]="resetPasswordObj.reTypedPassword"
                                        [type]="isRetypePasswordToggled ? 'text' : 'password'" pInputText (copy)="disableEvent($event)"
                                        (paste)="disableEvent($event)" (cut)="disableEvent($event)">
                                    <p-inputIcon (click)="toggleRetypePassword()"
                                        [styleClass]="isRetypePasswordToggled ? 'pi pi-eye-slash cursor-pointer' : 'pi pi-eye cursor-pointer'" />
                                </p-iconField>
                            </div>
                        </div>
                        <div class="flex pt-4 justify-content-end">
                            <p-button [disabled]="!(isValid())" label="Reset" icon="pi pi-arrow-right"  iconPos="right" (onClick)="nextStep(nextCallback,'reset-password')" />
                        </div>
                    </ng-template>
                </p-stepperPanel>
                <p-stepperPanel header="Successful">
                    <ng-template pTemplate="content">
                        <div class="flex flex-column gap-2 mx-auto" style="min-height: 16rem; max-width: 24rem">
                            <div class="text-center mt-3 mb-3 text-xl font-semibold">Password Reset successfully</div>
                            <div class="text-center">
                                <img alt="logo" src="https://primefaces.org/cdn/primeng/images/stepper/content.svg" />
                            </div>
                        </div>
                        <div class="flex pt-4 justify-content-end">
                            <p-button [routerLink]="['/auth/login']" label="Back To Login" severity="secondary" icon="pi pi-arrow-left" />
                        </div>
                    </ng-template>
                </p-stepperPanel>
            </p-stepper>
        </div>
    </div>
</div>

