<div class="surface-ground px-4 py-5 md:px-6 lg:px-8">

    <div class="grid mb-4">
        @for (vehicle of vehicleStatusOverview; track $index) {
        <div class="col-12 md:col-6 lg:col-3">
            <div class="surface-card shadow-2 p-3 border-round">
                <div class="flex justify-content-between">
                    <div>
                        <div class="mb-3" [ngClass]="vehicle.textColorClass + ' text-5xl'">{{ vehicle.count }}</div>
                        <span class="block text-500 font-medium">{{ vehicle.label }}</span>
                    </div>
                    <div class="flex align-items-center justify-content-center"
                        [ngClass]="vehicle.bgColorClass + ' border-round'" style="width:5rem;height:5rem">
                        <i class="pi pi-car" [ngClass]="vehicle.textColorClass + ' text-5xl'"></i>
                    </div>
                </div>
            </div>
        </div>
        }
    </div>
</div>