<div class="surface-ground px-4 py-5 md:px-6 lg:px-8">

    <div class="grid mb-4">
        @for (vehicle of vehicleStatusOverview; track $index) {
        <div class="col-12 md:col-6 lg:col-3">
            <div class="surface-card shadow-2 p-3 border-round">
                <div class="flex justify-content-between">
                    <div>
                        <div class="mb-3" [ngClass]="vehicle.textColorClass + ' text-5xl'">{{ vehicle.count }}</div>
                        <span class="block text-500 font-medium">{{ vehicle.label }}</span>
                    </div>
                    <div class="flex align-items-center justify-content-center"
                        [ngClass]="vehicle.bgColorClass + ' border-round'" style="width:5rem;height:5rem">
                        <i class="pi pi-car" [ngClass]="vehicle.textColorClass + ' text-5xl'"></i>
                    </div>
                </div>
            </div>
        </div>
        }
    </div>

    <div class="grid mb-4">
        <div class="col-12 md:col-6 lg:col-5">
            <p-panel header="Total Inventory">
                <ng-template pTemplate="icons">
                    <span class="text-3xl text-indigo-500 font-bold">0</span>
                </ng-template>
                <div class="grid">
                    <div class="col-12 md:col-6 lg:col-6">
                        <div class="surface-card shadow-2 p-3 border-round">
                            <div class="flex justify-content-between">
                                <div>
                                    <div class="mb-3" [ngClass]="'text-blue-500' + ' text-5xl'">0</div>
                                    <span class="block text-500 font-medium">Fitted</span>
                                </div>
                                <div class="flex align-items-center justify-content-center"
                                    [ngClass]="'bg-blue-100' + ' border-round'" style="width:5rem;height:5rem">
                                    <i class="pi pi-hammer" [ngClass]="'text-blue-500' + ' text-5xl'"></i>
                                </div>
                            </div>
                            <div class="surface-300 w-full mt-4" style="height: 7px; border-radius: 4px;">
                                <div class="bg-blue-500 h-full" style="width: 64%; border-radius: 4px;"></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 md:col-6 lg:col-6">
                        <div class="surface-card shadow-2 p-3 border-round">
                            <div class="flex justify-content-between">
                                <div>
                                    <div class="mb-3" [ngClass]="'text-purple-500' + ' text-5xl'">0</div>
                                    <span class="block text-500 font-medium">Balanced</span>
                                </div>
                                <div class="flex align-items-center justify-content-center"
                                    [ngClass]="'bg-purple-100' + ' border-round'" style="width:5rem;height:5rem">
                                    <i class="pi pi-list-check" [ngClass]="'text-purple-500' + ' text-5xl'"></i>
                                </div>
                            </div>
                            <div class="surface-300 w-full mt-4" style="height: 7px; border-radius: 4px;">
                                <div class="bg-purple-500 h-full" style="width: 64%; border-radius: 4px;"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </p-panel>
        </div>
        <div class="col-12 md:col-6 lg:col-5">
            <p-panel header="Total Complaint Lodge">
                <ng-template pTemplate="icons">
                  <span class="text-3xl text-indigo-500 font-bold">{{ totalComplaints }}</span>
                </ng-template>
                <div class="grid">
                  <div *ngFor="let stat of complaintStats" class="col-12 md:col-6 lg:col-6">
                    <div class="surface-card shadow-2 p-3 border-round">
                      <div class="flex justify-content-between">
                        <div>
                          <div class="mb-3" [ngClass]="'text-' + stat.colorClass + '-500 text-5xl'">{{ stat.count }}</div>
                          <span class="block text-500 font-medium">{{ stat.status }}</span>
                        </div>
                        <div class="flex align-items-center justify-content-center"
                             [ngClass]="'bg-' + stat.colorClass + '-100 border-round'" style="width:5rem;height:5rem">
                          <i class="pi" [ngClass]="stat.icon + ' text-' + stat.colorClass + '-500 text-5xl'"></i>
                        </div>
                      </div>
                      <div class="surface-300 w-full mt-4" style="height: 7px; border-radius: 4px;">
                        <div [ngClass]="'bg-' + stat.colorClass + '-500 h-full'" 
                             [style.width.%]="(stat.count / totalComplaints) * 100" style="border-radius: 4px;"></div>
                      </div>
                    </div>
                  </div>
                </div>
              </p-panel>
              
        </div>
        <div class="col-12 md:col-6 lg:col-2">
            <div class="p-3 border-round bg-red-500">
                <div class="flex justify-content-between">
                    <div class="flex align-items-center justify-content-center" [ngClass]="' border-circle'"
                        style="width:14rem;height:14rem">
                        <span [ngClass]="'text-white' + ' text-7xl font-bold'">SOS</span>
                    </div>
                    <div class="flex align-items-center justify-content-center" [ngClass]="'bg-white' + ' border-round'"
                        style="width:14rem;height:14rem">
                        <span [ngClass]="'text-red-500 font-bold' + ' text-7xl'">1000</span>
                    </div>
                </div>
            </div>
        </div>
    </div>



    <div class="grid nested-grid">
        <div class="col-12 md:col-6 lg:col-5">
            <p-panel header="Vehicle Type Wise Installation">
                <ng-template pTemplate="icons">
                    <button class="p-panel-header-icon p-link mr-2">
                        <span class="pi pi-filter"></span>
                    </button>
                </ng-template>
                <div class="grid">
                    <div class="col-12 md:col-6 lg:col-6">
                        <h2>Total Vehicles</h2>
                        <div class="flex justify-content-center align-items-center">
                            <p-knob [(ngModel)]="totalvehicleInstallation" [readonly]="true" [size]="300" [strokeWidth]="10" />
                        </div>
                    </div>
                    <div class="col-12 md:col-6 lg:col-6">
                        <div style="height: 665px;" class="p-5 overflow-auto">
                            @for (vehicle of vehicleInstallationTypes; track $index) {
                            <div class="col-12 md:col-12 lg:col-12">
                                <div class="surface-card shadow-2 p-3 border-round">
                                    <div class="flex justify-content-between">
                                        <div>
                                            <div class="mb-3" [ngClass]="' text-5xl'">{{ vehicle.deviceCount }}</div>
                                            <span class="block text-500 font-medium">{{ vehicle.categoryName }}</span>
                                        </div>
                                        <div class="flex align-items-center justify-content-center"
                                            [ngClass]="' border-round'"
                                            style="width:4rem;height:4rem">
                                            <i class="pi pi-car" [ngClass]="' text-4xl'"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            }
                        </div>
                    </div>
                </div>
            </p-panel>
        </div>
        <div class="col-12 md:col-7 lg:col-7">
            <div class="grid">
                <div class="col-12 lg:col-8">
                    <p-panel header="Renewal Status">
                            <apx-chart [series]="chartOptions.series" [chart]="chartOptions.chart"
                                [labels]="chartOptions.labels" [fill]="chartOptions.fill"
                                [dataLabels]="chartOptions.dataLabels"  [legend]="chartOptions.legend"
                                [responsive]="chartOptions.responsive"></apx-chart>
                    </p-panel>
                </div>
                <div class="col-12 lg:col-4">
                    <p-panel header="Total Registration">
                        <div class="p-4">
                            @for (item of totalRegistrationObject | keyvalue; track $index) {
                                <div class="col-12 md:col-12 lg:col-12">
                                    <div class="p-3 bg-green-700 border-round">
                                        <div class="flex justify-content-between">
                                            <div class="flex align-items-center justify-content-center">
                                                <div [ngClass]="'text-green-500 text-white' + ' text-2xl'">{{item.key}}</div>
                                            </div>
                                            <div class="flex align-items-center justify-content-center">
                                                <div class="text-green-500 text-white text-5xl font-bold ">{{item.value}}</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>
                    </p-panel>
                </div>
                <div class="col-12">
                    <div class="grid">
                        <div class="col-12 md:col-6 lg:col-12">
                            <div class="surface-card shadow-2 border-round">
                                <div style="height: 400px;" leaflet (leafletMapReady)="onMapReady($event)"
                                    [leafletOptions]="leafletOptions">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>




    <!-- <div class="grid">
        <div *ngFor="let panel of secondRowCharts" class="col-12 md:col-6 lg:col-{{ panel.type === 'pie' ? '4' : '8' }}">
            <p-panel [header]="panel.header">
                    <div class="flex flex-column justify-content-between">
                        <div class="flex justify-content-between mb-3">
                            <p-chart [responsive]="true" class="w-full" height="300px" [type]="panel.type"
                                [data]="panel.data" [options]="panel.options" (onDataSelect)="onClick($event)"></p-chart>
                        </div>
                    </div>
             </p-panel>
        </div>
    </div>


    <div class="grid">
        <div *ngFor="let panel of thirdRowCharts" class="col-12 md:col-6 lg:col-{{ panel.type === 'bar' ? '4' : '4' }}">
          <p-panel [header]="panel.header">
              <div class="flex flex-column justify-content-between">
                <div class="flex justify-content-between mb-3">
                  <p-chart
                    [responsive]="true"
                    class="w-full"
                    [height]="'300px'"
                    [type]="panel.type"
                    [data]="panel.data"
                    [options]="panel.options"
                  ></p-chart>
                </div>
              </div>
          </p-panel>
        </div>
      </div> -->




    <!-- <div class="grid">
        <div class="col-12 md:col-6 lg:col-12">
            <div class="surface-card shadow-2 p-3 border-round">
                <div style="height: 500px;" leaflet (leafletMapReady)="onMapReady($event)"
                    [leafletOptions]="leafletOptions">
                </div>
            </div>
        </div>
    </div> -->
</div>