<p-panel [toggleable]="true" header="Change Password">
    <ng-template pTemplate="header">
        <div class="flex align-items-center gap-2 mr-3">
            <i class="pi pi-wrench text-primary text-3xl"></i>
        </div>
    </ng-template>
    <ng-template pTemplate="content">
        <div class="grid formgrid">
            <div class="col-12 py-2 sm:col-4">
                <label for="oldPassword" class="w-full sm:w-auto">Old Password</label>
                <p-iconField iconPosition="right">
                  <input id="oldPassword" placeholder="Enter Old Password" class="w-full mt-2" required 
                    [type]="isOldPasswordToggled ? 'text' : 'password'" [(ngModel)]="resetPasswordObj.oldPassword" pInputText
                    (copy)="disableEvent($event)" (paste)="disableEvent($event)" (cut)="disableEvent($event)">
                  <p-inputIcon (click)="toggleOldPassword()" [styleClass]="isOldPasswordToggled ? 'pi pi-eye-slash cursor-pointer' : 'pi pi-eye cursor-pointer'" />
                </p-iconField>
              </div>
              
              <div class="col-12 py-2 sm:col-4">
                <label for="newPassword" class="w-full sm:w-auto">New Password</label>
                <p-iconField iconPosition="right">
                  <input id="newPassword" placeholder="Enter New Password" class="w-full mt-2" required 
                    [type]="isNewPasswordToggled ? 'text' : 'password'" [(ngModel)]="resetPasswordObj.newPassword" pInputText
                    (copy)="disableEvent($event)" (paste)="disableEvent($event)" (cut)="disableEvent($event)">
                  <p-inputIcon (click)="toggleNewPassword()" [styleClass]="isNewPasswordToggled ? 'pi pi-eye-slash cursor-pointer' : 'pi pi-eye cursor-pointer'" />
                </p-iconField>
              </div>
              
              <div class="col-12 py-2 sm:col-4">
                <label for="confirmPassword" class="w-full sm:w-auto">Confirm New Password</label>
                <p-iconField iconPosition="right">
                  <input id="confirmPassword" placeholder="Re-enter New Password" class="w-full mt-2" required 
                    [type]="isConfirmPasswordToggled ? 'text' : 'password'" [(ngModel)]="confirmNewPassword" pInputText
                    (copy)="disableEvent($event)" (paste)="disableEvent($event)" (cut)="disableEvent($event)">
                  <p-inputIcon (click)="toggleConfirmPassword()" [styleClass]="isConfirmPasswordToggled ? 'pi pi-eye-slash cursor-pointer' : 'pi pi-eye cursor-pointer'" />
                </p-iconField>
              </div>
              
              
        </div>
       </ng-template>

    <ng-template pTemplate="footer">
        <div class="flex flex-wrap align-items-center justify-content-between gap-3">
            <div class="flex align-items-center gap-2">
                <!-- <p-button icon="pi pi-user" rounded="true" text="true" />
                <p-button icon="pi pi-bookmark" severity="secondary" rounded="true" text="true" /> -->
            </div>
            <p-button [disabled]="!(isValid())" icon="pi pi-wrench" [outlined]="true" [loading]="isLoading" (onClick)="reset()" label="Change" />


        </div>
    </ng-template>
</p-panel>
  