<p-table #dt [value]="data" [rows]="rows" [paginator]="true" [globalFilterFields]="globalFilterFields"
     [(selection)]="selection" [rowHover]="true" [scrollable]="true"
    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [showCurrentPageReport]="true"
    (selectionChange)="onSelectionChange($event)"  [rowsPerPageOptions]="[10, 25, 50]">
    <!-- Caption -->
    <ng-template pTemplate="caption">
        <div class="flex align-items-center justify-content-between">
            <h5 class="m-0">{{ header + ' Details' }}</h5>
            <span class="p-input-icon-left">
                <i class="pi pi-search"></i>
                <input pInputText type="text" placeholder="Search..." />
            </span>
        </div>
    </ng-template>

    <!-- Dynamic Columns -->
    <ng-template pTemplate="header">
        <tr>
            <th pFrozenColumn style="width: 4rem"><p-tableHeaderCheckbox></p-tableHeaderCheckbox></th>
            @for (col of columns; track $index) {
                @if (col.field === 'orgName' || col.field === 'name') {
                    <th pFrozenColumn pSortableColumn="{{ col.field }}"
                        [style.minWidth]="col.minWidth || '15rem'">
                        {{ col.header }} <p-sortIcon field="{{ col.field }}"></p-sortIcon>
                    </th>
                } @else {
                    <th pSortableColumn="{{ col.field }}"
                        [style.minWidth]="col.minWidth || '15rem'">
                        {{ col.header }} <p-sortIcon field="{{ col.field }}"></p-sortIcon>
                    </th>
                }
            }
            <th>Actions</th>
        </tr>
    </ng-template>

    <ng-template pTemplate="body" let-item>
        <tr>
            <td pFrozenColumn><p-tableCheckbox [value]="item"></p-tableCheckbox></td>
            @for (col of columns; track $index) {
                @if (col.field === 'orgName' || col.field === 'name') {
                    <td pFrozenColumn>{{ item[col.field] || '-' }}</td>
                } @else {
                    @if(col.field === 'active'){
                        <td><p-tag [severity]="item[col.field] ? 'success' : 'danger'" [value]="item[col.field] ? 'Active' : 'InActive'"/></td>
                    } @else {
                        <td>{{item[col.field] || '-'}}</td>
                    }
                }
            }
            <td style="min-width: 140px;">
                <p-button icon="pi pi-pencil" class="mr-2" [rounded]="true" [outlined]="true" severity="primary"
                    (onClick)="onEdit(item)"></p-button>
                <!-- <p-button icon="pi pi-trash" severity="danger" [rounded]="true" [outlined]="true"
                    (onClick)="onDelete(item)"></p-button> -->
            </td>
        </tr>
    </ng-template>

    <!-- Summary -->
    <ng-template pTemplate="summary">
        <div class="flex align-items-center justify-content-between">
            In total there are {{ data ? data.length : 0 }} items.
        </div>
    </ng-template>
</p-table>