    <p-stepper [(activeStep)]="currentStepIndex">
        @for (step of steps; track $index) {
        <p-stepperPanel [header]="step.header">
            <ng-template pTemplate="content">
                <div class="flex flex-column">
                    <div class="border-2 border-dashed surface-border border-round surface-ground px-4">
                        <div class="formgrid grid mt-3">
                            @for (field of step.fields; track $index) {
                            <div class="field col-12 sm:col-12 md:col-4">
                                <div class="flex align-items-center mb-2">
                                    <label for="{{ field.name }}" class="mr-2">{{ field.label }}</label>
                                    @if(field.validation) {
                                    <i style="font-size: 7px;" class="pi pi-asterisk text-red-500 mr-2"></i>
                                    @if(!validationState[field.name] && data[field.name]?.length) {
                                    <i class="pi pi-exclamation-circle text-red-500"
                                        [pTooltip]="!field.dependent?.length ? ('Duplicate' + ' ' + field.label) : 'Mismatched Fields'"
                                        tooltipPosition="right"></i>
                                    } @else if (validationState[field.name] && data[field.name]?.length) {
                                    <i class="pi pi-check-circle text-green-500" [pTooltip]="'Looks Good'"
                                        tooltipPosition="right"></i>
                                    }
                                    }
                                </div>
                                @switch(field.type) {
                                @case ('text') {
                                <input class="w-full" pInputText id="{{ field.name }}" [(ngModel)]="data[field.name]"
                                (keyup)="onInputChange($event, field)" [required]="field.validation" placeholder="{{ field.placeholder }}" />
                                }
                                @case ('dropdown') {
                                <p-dropdown appendTo="body" styleClass="w-full" [name]="field.name" [options]="field.options" [optionLabel]="field?.dropdownKeys?.nameKey"
                                (onChange)="onDropdownChange($event, field)" [(ngModel)]="data[field.name]" placeholder="{{ field.placeholder }}">
                                </p-dropdown>
                                }
                                @case ('textarea') {
                                <textarea class="w-full" pInputTextarea id="{{ field.name }}"
                                    [(ngModel)]="data[field.name]" [required]="field.validation"
                                    placeholder="{{ field.placeholder }}">
                          </textarea>
                                }
                                @case ('number') {
                                <p-inputNumber id="{{ field.name }}" [(ngModel)]="data[field.name]"
                                    [required]="field.validation" placeholder="{{ field.placeholder }}">
                                </p-inputNumber>
                                }
                                @case('non-editable') {
                                <p>{{ field.value || '-' }}</p>
                                }
                                @default {
                                <p>Unsupported field type: {{ field.type }}</p>
                                }
                                }
                            </div>
                            }
                        </div>
                    </div>
                </div>
                <div class="flex pt-4 justify-content-between">
                    @if ($index > 0) {
                    <p-button severity="secondary" [disabled]="!isValidated" label="Back" icon="pi pi-arrow-left"
                        (onClick)="prevStep()"></p-button>
                    }
                    @if ($index < steps.length - 1) { <p-button [disabled]="!isValidated" label="Next"
                        icon="pi pi-arrow-right" iconPos="right" (onClick)="nextStep()"></p-button>
                        }
                </div>
            </ng-template>
        </p-stepperPanel>
        }
    </p-stepper>