<app-generic-table [data]="[]" [columns]="columns" [rows]="10" [header]="'Route'" [isDataLoading]="isLoading"
   [exportFilename]="'routes'" [globalFilterFields]="['name']" (edit)="onEditState($event)" [selectionMode]="'none'" (new)="openNew($event)" />

   <app-generic-drawer [isOpen]="true" [contentTemplate]="createRouteContent" />
   
   <ng-template #createRouteContent>
    <div class="grid h-screen">
        <!-- Left Side - Leaflet Map -->
        <div class="col-12 lg:col-8 xl:col-9 h-full">
            <div class="h-full w-full">
                <div leaflet [leafletOptions]="options" (leafletMapReady)="onMapReady($event)" class="h-full w-full border-round shadow-2"></div>
            </div>
        </div>

        <!-- Right Side - Inputs & Buttons (Stacked on Small Screens) -->
        <div class="col-12 lg:col-4 xl:col-3 bg-white p-4 flex flex-column gap-4">
            <h3 class="text-xl font-semibold text-muted-color-emphasis">Create a Route</h3>

            <div class="flex flex-column gap-3">
                <label for="startPoint" class="font-medium">Start Point</label>
                <input id="startPoint" type="text" class="p-inputtext w-full" placeholder="Enter start point" />
            </div>

            <div class="flex flex-column gap-3">
                <label for="endPoint" class="font-medium">End Point</label>
                <input id="endPoint" type="text" class="p-inputtext w-full" placeholder="Enter end point" />
            </div>

            <div class="mt-4">
                <p-button icon="pi pi pi-times" [severity]="'success'" label="Save" class="mr-4" (onClick)="loadSavedRoute()" />
                <p-button icon="pi pi pi-times" [severity]="'secondary'" label="Reset" />
            </div>
        </div>
    </div>
</ng-template>
