<div class="px-4 md:px-6 lg:px-8">
    <p-toolbar styleClass="bg-primary-reverse border-bottom-none border-noround">
        @if(userRole !== 'OEM') {
            <p-button [text]="true" [outlined]="true" label="Activate" (onClick)="handleActivateClick()"></p-button>
        }

        <span class="p-input-icon-left">
            <i class="pi pi-search"></i>
            <input [disabled]="!eSimtableData.length" pInputText placeholder="Search" />
        </span>
    </p-toolbar>


    <p-table #dt [value]="eSimtableData" [rows]="10" [columns]="columns" [paginator]="true"
        [globalFilterFields]="['serviceProvider.providername']" [(selection)]="currentSelectedRow" [rowHover]="true"
        [scrollable]="true" [exportFilename]="'esims'"
        currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [showCurrentPageReport]="true"
        (selectionChange)="onCurrentRowSelectionChange($event)" [rowsPerPageOptions]="[10, 25, 50]"
        styleClass="p-datatable-sm p-datatable-gridlines">

        <ng-template pTemplate="header">
            <tr>
                @for (col of columns; track $index) {
                <th
                    [style.minWidth]="col.minWidth || '15rem'">
                    {{ col.header }}
                </th>
                }
                <th>Devices</th>
                <th>Activation History</th>
                @if(userRole !== 'Dealer') {
                    <th>Approve/ Reject</th>
                }
                <th>Check Status From Provider</th>
            </tr>
        </ng-template>


        <ng-template pTemplate="body" let-item let-rowIndex="rowIndex">
            <tr>
                @for (col of columns; track $index) {
                @if(col.field === 'index') {
                <td>{{ rowIndex + 1 }}</td>
                } @else {
                    @if(col.type === 'date') {
                        <td>{{ (col.subfield ? (item[col.field]?.[col.subfield] | date) : (item[col.field]) | date) || '-' }}</td>

                    } @else {
                        <td>{{ (col.subfield ? item[col.field]?.[col.subfield] : item[col.field]) || '-' }}</td>
                    }
                }
                }
                <td>
                    <p-button text outlined [label]="item ? item['request']['deviceCount'] : '-'" severity="info" (click)="showLinkedDevicesPopup('linkedDevices',item)" />
                </td>
                @if(item.request.status == 'Approved' ||  item.request.status == 'Reject' || item.request.status == 'InProcess') {
                    <td style="cursor: pointer;">
                        <p-tag [pTooltip]="'See hierarchy'" tooltipPosition="bottom" severity="secondary" value="Click here to see" (click)="showHeirarchyPopup(item)" />
                    </td>
                } @else {
                    <td>
                       {{'-'}} 
                    </td>
                }
                @if(userRole !== 'Dealer') {
                    <td>
                        @if(item.request.status === 'Pending' && userRole !== 'OEM') {
                            <!-- When userRole is OEM and status is "In Process", show "Send to Operator" button instead of approve/reject -->
                           
                                <div class="flex gap-3 align-items-center">
                                    <!-- Approve Icon -->
                                    <div class="flex align-items-center justify-content-center w-2rem h-2rem border-circle hover:bg-green-100 cursor-pointer"
                                         [pTooltip]="'Approve'" tooltipPosition="bottom">
                                        <i class="pi pi-check-circle text-green-500 text-xl" 
                                            (click)="showOverlay($event, 'approve')">
                                        </i>
                                    </div>
                    
                                    <!-- Reject Icon -->
                                    <div class="flex align-items-center justify-content-center w-2rem h-2rem border-circle hover:bg-red-100 cursor-pointer"
                                         [pTooltip]="'Reject'" tooltipPosition="bottom">
                                        <i class="pi pi-times-circle text-red-500 text-xl" 
                                            (click)="showOverlay($event, 'reject')">
                                        </i>
                                    </div>
                                </div>
                    
                                <!-- Overlay Panel -->
                                <p-overlayPanel #op>
                                    <div class="flex flex-column gap-3 w-25rem">
                                        @if(overlayContent === 'approve') {
                                            <span class="font-medium text-900 block mb-2">Add Comment for Approval</span>
                                            <div class="flex justify-content-between">
                                                <input class="w-full" type="text" pInputText [(ngModel)]="comment" />
                                                <p-button icon="pi pi-check-circle" label="Approve" severity="success" text outlined 
                                                          (click)="submitComment('approve', item)" />
                                            </div>
                                        }
                                
                                        @if(overlayContent === 'reject') {
                                            <span class="font-medium text-900 block mb-2">Add Comment for Rejection</span>
                                            <div class="flex justify-content-between">
                                                <input class="w-full" type="text" pInputText [(ngModel)]="comment" />
                                                <p-button icon="pi pi-times-circle" label="Reject" severity="danger" text outlined 
                                                          (click)="submitComment('reject', item)" />
                                            </div>
                                        }

                                        @if(overlayContent === 'send_request_to_operator') {
                                            <span class="font-medium text-900 block mb-2">Send Request to Operator</span>
                                            <div class="flex justify-content-between">
                                                <input class="w-full" type="text" pInputText [(ngModel)]="comment" />
                                                <p-button icon="pi pi-check-circle" label="Send" severity="info" text outlined 
                                                          (click)="submitComment('send_request_to_operator', item)" />
                                            </div>
                                        }
                                    </div>
                                </p-overlayPanel>
                            
                        } @else {
                        <!-- Show meaningful status with PrimeNG chip -->
                        @if(item.request.status === 'Approved') {
                            @if(userRole === 'OEM') {
                                          <div class="flex align-items-center justify-content-center w-2rem h-2rem border-circle hover:bg-green-100 cursor-pointer"
                                          [pTooltip]="'Send to Operator'" tooltipPosition="bottom">
                                         <i class="pi pi-check-circle text-green-500 text-xl" 
                                         (click)="showOverlay($event, 'send_request_to_operator')">
                                         </i>
                                     </div>

                                          <p-overlayPanel #op>
                                            <div class="flex flex-column gap-3 w-25rem">
        
                                                @if(overlayContent === 'send_request_to_operator') {
                                                    <span class="font-medium text-900 block mb-2">Send Request to Operator</span>
                                                    <div class="flex justify-content-between">
                                                        <input class="w-full" type="text" pInputText [(ngModel)]="comment" />
                                                        <p-button icon="pi pi-check-circle" label="Send" severity="info" text outlined 
                                                                  (click)="submitComment('send_request_to_operator', item)" />
                                                    </div>
                                                }
                                            </div>
                                        </p-overlayPanel>
                            } @else {
                                <p-tag icon="pi pi-check-circle" value="Approved" severity="success" />
                            }
                       
                        
                        }
                        
                        @if(item.request.status === 'Reject') {
                        <p-tag icon="pi pi-times-circle" value="Rejected" severity="danger" />
                        
                        }
                        
                        }
                    </td>
                }
                <td style="cursor: pointer;">
                    <p-tag [icon]="fetchingOverlayDataMap[item.request.requestId] ? 'pi pi-spin pi-spinner' : ''" 
                    [value]="fetchingOverlayDataMap[item.request.requestId] ? '' : 'Click here to check status'" 
                    severity="secondary" 
                    (click)="showProviderStatusOverlay($event, 'check_status_from_provider', item)"  />

                    <p-overlayPanel #providerStatusOp>
                            <div class="grid p-3 w-25rem">
                                @if(overlayContent === 'check_status_from_provider') {
                                   
                                    <div class="col-6 font-bold">SR ID</div>
                                    <div class="col-6">{{ srOverlayData?.srid || '-' }}</div>
                        
                                    <div class="col-6 font-bold">Action Requested</div>
                                    <div class="col-6">{{ srOverlayData?.actionRequested || '-' }}</div>
                        
                                    <div class="col-6 font-bold">Card Count</div>
                                    <div class="col-6">{{ srOverlayData?.cardCount || '-' }}</div>
                        
                                    <div class="col-6 font-bold">Closure Date</div>
                                    <div class="col-6">{{ srOverlayData?.closureDate ?? '-' }}</div>
                        
                                    <div class="col-6 font-bold">Fail Reason</div>
                                    <div class="col-6">{{ srOverlayData?.failReason && srOverlayData.failReason !== 'null' ? srOverlayData.failReason : '-' }}</div>
                        
                                    <div class="col-6 font-bold">Requested Date</div>
                                    <div class="col-6">{{ srOverlayData?.requestedDate || '-' }}</div>
                        
                                    <div class="col-6 font-bold">SR Status</div>
                                    <div class="col-6">{{ srOverlayData?.srStatus || '-' }}</div>
                                }
                            </div>
                    </p-overlayPanel>
                    
                </td>
                
            </tr>
        </ng-template>

        <ng-template pTemplate="emptymessage">
            <tr>
                <td colspan="7" class="sm:text-center text-left">
                    @if(isLoading) {
                    <p-progressSpinner ariaLabel="loading" styleClass="w-3rem h-3rem" />
                    } @else {
                    No Data Found.
                    }
                </td>
            </tr>
        </ng-template>

        <!-- Summary -->
        <ng-template pTemplate="summary">
            <div class="flex align-items-center justify-content-between">
                In total there are {{ eSimtableData ? eSimtableData.length : 0 }} items.
            </div>
        </ng-template>
    </p-table>
</div>


<p-dialog [closable]="false" [(visible)]="isDialogVisible" [style]="{ width: '600px'}" [header]="dialogHeader"
    [modal]="true" [breakpoints]="{ '2500px': '50vw','1600px': '60vw','1199px': '75vw', '575px': '90vw' }">

    <ng-template pTemplate="content">
        @if (dialogContentType === 'activateFields') {
        <div class="formgrid grid mt-3">
            <!-- Sim Provider -->
            <div class="field col-12 sm:col-12 md:col-4">
                <div class="flex align-items-center mb-2">
                    <label for="simProvider" class="mr-2">Sim Provider</label>
                </div>
                <p-dropdown id="simProvider" appendTo="body" [options]="simProvidersOptions" styleClass="w-full"
                    [(ngModel)]="selectedSimProvider" optionLabel="providerName" placeholder="Select Sim Provider"
                    (onChange)="handleSimProviderChange($event)" />
            </div>

            <!-- Type -->
            <div class="field col-12 sm:col-12 md:col-4">
                <div class="flex align-items-center mb-2">
                    <label for="simType" class="mr-2">Type</label>
                </div>
                <p-dropdown id="simType" [disabled]="!selectedSimProvider" [loading]="fetchingActivateTypeOptions"
                    appendTo="body" [options]="activateTypeOptions" styleClass="w-full" [(ngModel)]="selectedType"
                    (onChange)="handleActivationTypeChange($event)" optionLabel="name" placeholder="Select Type" />
            </div>

            <!-- Available Plans -->
            <div class="field col-12 sm:col-12 md:col-4">
                <div class="flex align-items-center mb-2">
                    <label for="availablePlan" class="mr-2">Available Plans</label>
                </div>
                <p-dropdown id="availablePlan" [disabled]="!selectedType" appendTo="body"
                    [loading]="fetchingActivatePlansOptions" [options]="availablePlanOptions" styleClass="w-full"
                    [(ngModel)]="selectedPlan" optionLabel="name" placeholder="Select Available Plan" />
            </div>

            @if(selectedPlan) {

            <!-- PrimeNG Table Row -->
            <div class="field col-12 mt-3">

                <p-table #dt1 [value]="devices" [rows]="10" [columns]="deviceColumns" [paginator]="true"
                    [globalFilterFields]="['imei','iccid']" [(selection)]="currentSelectedRow" [rowHover]="true"
                    [scrollable]="true" [exportFilename]="'esims'"
                    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
                    [showCurrentPageReport]="true" (selectionChange)="onCurrentRowSelectionChange($event)"
                    styleClass="p-datatable-sm p-datatable-gridlines">

                    <ng-template pTemplate="caption">
                        <span class="p-input-icon-left">
                            <i class="pi pi-search"></i>
                            <input [disabled]="!devices.length" pInputText placeholder="Search" (input)="onDeviceListSearch($event)" />
                        </span>
                    </ng-template>


                    <ng-template pTemplate="header">
                        <tr>
                            <th></th>
                            @for (col of deviceColumns; track $index) {
                            <th pFrozenColumn [frozen]="col.frozen || false" alignFrozen="right"
                                pSortableColumn="{{ col.field }}" [style.minWidth]="col.minWidth || '15rem'">
                                {{ col.header }} <p-sortIcon field="{{ col.field }}"></p-sortIcon>
                            </th>
                            }
                        </tr>
                    </ng-template>


                    <ng-template pTemplate="body" let-item let-rowIndex="rowIndex">
                        <tr>
                            <td><p-tableCheckbox [value]="item"/></td>
                            @for (col of deviceColumns; track $index) {
                            @if(col.field === 'index') {
                            <td>{{ rowIndex + 1 }}</td>
                            } @else {
                            <td> {{ item[col.field] || '-' }} </td>
                            }
                            }
                        </tr>
                    </ng-template>

                    <ng-template pTemplate="emptymessage">
                        <tr>
                            <td colspan="7" class="sm:text-center text-left">
                                @if(isDevicesLoading) {
                                <p-progressSpinner ariaLabel="loading" styleClass="w-3rem h-3rem" />
                                } @else {
                                No Data Found.
                                }
                            </td>
                        </tr>
                    </ng-template>

                    <!-- Summary -->
                    <ng-template pTemplate="summary">
                        <div class="flex align-items-center justify-content-between">
                            In total there are {{ devices ? devices.length : 0 }} items.
                        </div>
                    </ng-template>
                </p-table>
            </div>

        }

        </div>
        }

        @if (dialogContentType === 'seeHeirarchy') {
            <div class="grid mt-3 gap-4">
                @for (eventSet of timelineData; track $index) {
                    <div class="col-12 md:col-6">
                        <div class="p-4 bg-surface-100 transition-all duration-300">
                            <h3 class="text-lg font-semibold border-bottom-1 pb-2">{{ eventSet?.header }}</h3>
                            
                            <div class="max-h-25rem min-w-20rem overflow-auto mt-3 p-2">
                                <p-timeline [value]="eventSet.events" class="w-full">
                                    <ng-template pTemplate="content" let-event>
                                        <div class="p-2 bg-surface-50 border-round-md shadow-1">
                                            <small class="p-text-secondary block mb-1">{{ (event.date | date:'short') || '-'}}</small>
                                            <span class="text-xs text-primary font-medium">Commented by: {{ event.commentedBy || '-' }}</span>
                                        </div>
                                    </ng-template>
            
                                    <ng-template pTemplate="opposite" let-event>
                                        <span class="font-medium text-primary">{{ event.comment || '-' }}</span>
                                    </ng-template>
                                </p-timeline>
                            </div>
                        </div>
                    </div>
                }
            </div>
        }


        @if(dialogContentType === 'linkedDevices') {
            <p-table #dt2 [value]="selectedLinkedDevicesData" [rows]="10" [columns]="activationLinkedDeviceColumns" [paginator]="true"
                    [globalFilterFields]="['imei','iccid']" [rowHover]="true"
                    [scrollable]="true" [exportFilename]="'linked_devices_esims'"
                    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
                    [showCurrentPageReport]="true"
                    styleClass="p-datatable-sm p-datatable-gridlines">

                    <ng-template pTemplate="caption">
                        <!-- <span class="p-input-icon-left">
                            <i class="pi pi-search"></i>
                            <input [disabled]="!selectedLinkedDevicesData.length" pInputText placeholder="Search" (input)="onDeviceListSearch($event)" />
                        </span> -->

                        <p-button label="Export CSV"  (onClick)="dt2.exportCSV()"  />
                    </ng-template>


                    <ng-template pTemplate="header">
                        <tr>
                            @for (col of activationLinkedDeviceColumns; track $index) {
                            <th 
                                [style.minWidth]="col.minWidth || '15rem'">
                                {{ col.header }} <p-sortIcon field="{{ col.field }}"></p-sortIcon>
                            </th>
                            }
                        </tr>
                    </ng-template>


                    <ng-template pTemplate="body" let-item let-rowIndex="rowIndex">
                        <tr>
                            @for (col of activationLinkedDeviceColumns; track $index) {
                            @if(col.field === 'index') {
                            <td>{{ rowIndex + 1 }}</td>
                            } @else {
                            <td> {{ item[col.field] || '-' }} </td>
                            }
                            }
                        </tr>
                    </ng-template>

                    <ng-template pTemplate="emptymessage">
                        <tr>
                            <td colspan="7" class="sm:text-center text-left">
                                @if(isDevicesLoading) {
                                <p-progressSpinner ariaLabel="loading" styleClass="w-3rem h-3rem" />
                                } @else {
                                No Data Found.
                                }
                            </td>
                        </tr>
                    </ng-template>

                    <!-- Summary -->
                    <ng-template pTemplate="summary">
                        <div class="flex align-items-center justify-content-between">
                            In total there are {{ selectedLinkedDevicesData ? selectedLinkedDevicesData.length : 0 }} items.
                        </div>
                    </ng-template>
                </p-table>
        }
        
    </ng-template>


    <ng-template pTemplate="footer">
        <p-button label="Cancel" icon="pi pi-times" [text]="true" (onClick)="hideDialog()" />
        @if(dialogContentType === 'activateFields') {
            <p-button [disabled]="false" label="Save" icon="pi pi-check" [text]="true" (onClick)="save()" />
        }
    </ng-template>
</p-dialog>