<app-generic-table [data]="ports" [columns]="columns" [rows]="10" [header]="'Port'" [isDataLoading]="isLoading" [toolbarRightActions]="toolbarRightActions"
   [exportFilename]="'ports'" [globalFilterFields]="['domain','port']" (edit)="onEditState($event)" [selectionMode]="'none'" [actions]="[]"
    (selectionChange)="onSelectionChange($event)" (new)="openNew($event)" (dropdown)="onToolBarDropDownChange($event)"/>


<app-generic-dialog [visible]="portDialog" [header]="'Ports'" [width]="'800px'" [modal]="true" [isEditing]="isEditing"
    [styleClass]="'p-fluid'" [fields]="fields" [data]="port" (onHide)="onHideDialog($event)"
    (onSave)="onSavePort($event)" (onInputTextChange)="onInputTextChange($event)" (onDialogDropdownChange)="onDialogDropDownChange($event)" />