<p-card subheader="Update Your Password" [style]="{ maxWidth: '100%', width: '450px' }">
    <ng-template pTemplate="content">
     <div class="grid formgrid">
         <div class="col-12 py-2 sm:col-4">
             <label for="oldPassword" class="w-full sm:w-8rem">Old Password</label>
         </div>
         <div class="col-12 sm:col-8">
             <input pInputText id="oldPassword" class="w-full" autocomplete="off" />
         </div>
     </div>
     <div class="grid formgrid mt-3">
         <div class="col-12 py-2 sm:col-4">
             <label for="newPassword" class="w-full sm:w-8rem">New Password</label>
         </div>
         <div class="col-12 sm:col-8">
             <input pInputText id="newPassword" class="w-full" autocomplete="off" />
         </div>
     </div>
    </ng-template>
     <ng-template pTemplate="footer">
         <div class="flex gap-3 mt-4">
             <p-button label="Save" class="w-full" />
         </div>
     </ng-template>
 </p-card>
 